<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <title></title>
</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/home">BudgetTracker</a>
        </div>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active"><a class="nav-link" href="/home">Home</a></li>
            <li class="nav-item"><a class="nav-link" href="/budget">Budgets</a></li>
            <li class="nav-item"><a class="nav-link" href="/payments">Make A Payment</a></li>
            <li class="nav-item"><a class="nav-link" href="/bills">Remove A Payment</a></li>
        </ul>
    </div>
</nav>
</body>
</html>